main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.servcies {
    width: calc(100% / 3 - 40px);
    height: 400px;
    padding: 20px;

    background: var(--background-box);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: var(--backdrop);

    box-shadow: var(--thick-shadow);
    border: 1px solid #00000003;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    transition: var(--transition);
    cursor: pointer;

    transform: translateX(-350%);
    animation: slideIn 0.8s forwards;
}

.servcies:hover {
    border: 1px solid rgb(var(--myColor));
    box-shadow: 0 8px 40px rgb(var(--myColor));
    transform: translateY(-8px) scale(1.03);
}

.servcies:hover h2 {
    color: rgb(var(--myColor));
}
.servcies:hover i {
    transform: scale(1.2);
}

.servcies i.head{
    width: 50px;
    height: 50px;
    font-size: 30px;

    color: var(--text);
    background: rgb(var(--myColor));
    border-radius: 15px;
    align-content: center;
    
    margin: 5px;
}

.servcies h2 {
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 15px;

  color: var(--text);
  transition: var(--transition);
}

.servcies p {
    font-size: 13px;
    color: var(--muted);
    margin-bottom: 20px;
    font-weight: 500;
}

.servcies button{
    height: 50px;
    color: var(--text);
    background: var(--primary-li);
}

.line {
  width: 90%;
  height: 2px;

  background-color: grey;
  margin: 0 auto;
}


.servcies:nth-child(1) {
  animation-delay: 0s;
}
.servcies:nth-child(2) {
  animation-delay: 0.4s;
}
.servcies:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}