body {
    background: var(--bg) !important;
}

.title {
    text-align: center;
}

.title p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--muted);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.card {
    background: var(--background-box);
   overflow: hidden;
   backdrop-filter: var(--backdrop);

}

.card img {
    width: 100px;
    height: 100px;
    
    object-fit: cover;
}