main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.cards {
    width: calc(100% / 3 - 40px);
    height: 400px;
    padding: 20px;

    background: var(--background-box);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: var(--backdrop);

    box-shadow: var(--thick-shadow);
    border: 1px solid #00000003;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    transition: var(--transition);
    cursor: pointer;

    transform: translateX(-350%);
    animation: slideIn 0.8s forwards;
}

.cards:hover {
    border: 1px solid rgb(var(--myColor));
    box-shadow: 0 8px 40px rgb(var(--myColor));
    transform: translateY(-8px) scale(1.03);
}

.cards:hover h2 {
    color: rgb(var(--myColor));
}
.cards:hover i {
    transform: scale(1.2);
}

.cards i {
    font-size: 35px;
    color: var(--text);
    margin-bottom: 20px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  var(--transition);
    background: rgb(var(--myColor));
}

.cards i.head{
    width: 50px;
    height: 50px;
    font-size: 30px;

    color: rgb(var(--myColor));
    background: linear-gradient(135deg, rgb(var(--myColor) / 55%), rgb(var(--myColor) / 65%));
    border-radius: 15px;
    align-content: center;
    
    margin: 5px;
}

.cards h2 {
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 15px;

  color: var(--text);
  transition: var(--transition);
}

.cards p {
    font-size: 12px;
    color: var(--muted);
    margin-bottom: 20px;
}

.title {
    text-align: center;
}

.title p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--muted);
}